{{> title}}

<form action="/login" method="post">
	<div id="authNav">
		<a id="active" href="/login">Log In</a>
		<a href="/">Sign Up</a>
	</div>
	<h1>Log In</h1>
	<div class="form-group">
	    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email here">
	</div>
	<div class="form-group">
	    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password here">
	</div>	
	<button id="sendCreds">Log In</button>

</form>